/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Build: v1.0
	Date: 2014/01

***********************************************************************************************
		1 通用
		2 首頁
		    2.1 頂端區塊
			2.2 Banner 區塊
			2.3 部落格新訊
			2.4 完美底部佈局
			2.5 版權列區塊
		3 公司簡介
		4 工程實績
		5 經銷優惠專區
		6 員工專區
		7 聯絡我們 
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	margin: 0;
	padding:0;
	background: url(../images/bg_sitetop.jpg) repeat-x;
	font-family:/*"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU",*/Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#3b3b3b}
a:link {text-decoration:underline; color:#0492ce}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
::selection { background:#27a1dd; color:#FFF}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:1024px; margin:0 auto}

/*2.4 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:126px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*2.5 版權列---------------------------*/
footer{ 
    display:block;
    position: relative;
    width:100%;
	height:126px;
    background: url(../images/bg_footer.jpg) repeat-x;
    margin-top: -126px}


/* 3. 公司簡介 
-----------------------------------------------------------------------------------------------
===============================================================================================*/


/* 4. 工程實績
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 5. 經銷優惠專區
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4. 員工專區
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4. 聯絡我們
-----------------------------------------------------------------------------------------------
===============================================================================================*/

